.logo img {
  width: 50px;
  height: 50px;
}
.logo span {
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header {
  margin: 20px 20px 10px 20px;
  background-image: url(../../assets/Logo1.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 50vh;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.cart {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.cart .found {
  color: rgba(255, 242, 2, 0.927);
}
.cart span {
  padding-left: 5px;
}
